@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1d262d;
    color: #ededed;
}

.menu1 responsive a:hover{
color: #a2cefa;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5% 0 10%;
    background-color: #1d262d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-family: 'Brygada 1918', serif;
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 35px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #a2cefa;
}

.home {
    height: 100vh;
    background: url(./images/my\ pic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background: transparent;
    max-width: 790px;
}

.home-content h1 {
    position: relative;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    color: #a2cefa;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 26px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}


.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}


.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #a2cefa;
    border: 2px solid #a2cefa;
    border-radius: 8px;
    font-size: 16px;
    color: #1d262d;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #a2cefa;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #a2cefa;
}

.btn-box a:nth-child(2):hover {
    color: #a2cefa;
}

.btn-box a:nth-child(2)::before {
    background: #a2cefa;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1d262d;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #a2cefa;
    border-radius: 50%;
    font-size: 20px;
    color: #a2cefa;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #1d262d;
    ;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #a2cefa;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 750px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #1d262d;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}


.home-imgHover:hover {
    background: #1d262d;
    opacity: .8;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}


#about {
    background: #0f1920;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

#about {
    width: 100%;
    height: 100vh;
    background: #11181d;
}

div img {
    margin: 0 40px 30px 0;
    border-radius: 10px;

}

.about-text {
    width: 550px;
    margin-top: 30px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    font-size: 4em;
    margin-bottom: 60px;
}

.about-text p {
    color: #ededed;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #a2cefa;
    border: 2px solid #a2cefa;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #0f1920;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding: 7px 10px;
}

button:hover {
    background: transparent;
    color: #a2cefa;
    cursor: pointer;
    border: 2px solid #a2cefa;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1d262d;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}

button:hover::before {
    width: 100%;
}

#header {
    /*  position: sticky; */
    width: 100vw;
    top: 0;
    right: 0;
    margin-bottom: 1em;
}

#container-header {
    background-color: #1d262d color azure;
    text-align: center;
    padding: 2em;
}


#container-header h1 {
    font-size: 4em;
}

#container-footer {
    background-color: rgb(23, 22, 22);
    color: azure;
    display: flex;
    justify-content: space-between;
}

#container-footer>p {
    padding: 2em;
}

#gallery {
    text-align: center;
}

#container-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    background: #3a4146;
    box-shadow: 3px 3px 16px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin: 2em;
    transition: .5s;
    justify-content: flex-start;
}

.card:hover {
    transition: .8s;
    width: 250px;
    height: 350px;


}


.card h3 {
    color: #ffffff;
}

.card a {
    width: 5em;
    background: #a2cefa;
    border: 2px solid #a2cefa;
    border-radius: 15px;
    font-size: 16px;
    color: #1d262d;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.card a:hover {
    background: #0f1920;
    color: #a2cefa;
}

#bg-image1 {
    background-image: url("../images/bluemoon.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}


#bg-image2 {
    background-image: url("../MyPortfolio/images/coffee.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

#bg-image3 {
    background-image: url("../images/Here&Now.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

#bg-image4 {
    background-image: url("../MyPortfolio/images/PinkFloyd.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

#bg-image5 {
    background-image: url("../MyPortfolio/images/WorldTour.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

#bg-image6 {
    background-image: url("../MyPortfolio/images/Yellow.jpg.png");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.footer {
    background-color: #1d262d;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
    height: 2.5em;
}

#contact {
    width: 100vw;
    height: 100vh;
    background: #11181d;
}

.container h2 {
    padding-top: 110px;
    font-size: 70px;
    margin-bottom: 15px;
}

.contact-icons {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 {
    backdrop-filter: blur(5px);
    background-color: rgba(6, 9, 24, 0.5019607843);
    overflow: hidden;
}

.menu1 a {
    float: right;
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    width: 80%;
    border-bottom: 1px solid #2e364f;
    text-align: right;
}



#myLinks {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    top: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

i.fa.fa-bars {
    display: none;
}

#myLinks {
    display: none;
}

@media (max-width: 968px) {
    .navbar {
        display: none;
    }

    .about-text {
        width: 90%;
        margin-top: 30px;
    }

    .main {
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .home-content h1 {
        position: relative;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3 {
        position: relative;
        font-size: 30px;
        font-weight: 700;
        color: #a2cefa;
    }

    button {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        margin: 0px 0 20px 0;
        background: #a2cefa;
        border: 2px solid #a2cefa;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        color: #0f1920;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
        padding: 7px 10px;
    }

    #container-gallery {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .card {
        width: 80%;
    }

    .img-fluid {

        display: none;
    }

    .header {
        flex-direction: row !important;
    }

    i.fa.fa-bars {
        color: white;
        padding: 5px 20px;
        text-decoration: none;
        font-size: 45px;
        display: block;
    }

    i.fa.fa-solid.fa-x {
        color: white;
        padding: 5px 20px;
        text-decoration: none;
        font-size: 45px;
        display: block;
    }

    .icon {
        display: block;
        color: white;
        float: right;
        padding: 0px 15px;
        cursor: pointer;
        text-decoration: none;
    }

    .menu1 {
        backdrop-filter: blur(5px);
        background-color: rgba(6, 9, 24, 0.5019607843);
        overflow: hidden;
    }

    .menu1 a {
        float: left;
        display: block;
        color: white;
        font-size: 2rem;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        width: 80%;
        border-bottom: 1px solid rgba(6, 9, 24, 0.5019607843);
        text-align: left;
    }

    #myLinks {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -2;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    a.icon {
        text-decoration: none;
    }

}

@media (max-width: 1200px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home {
        background: url(hide);
    }

    .home-imgHover {
        animation: none;
    }

    .contact-icons {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
        padding: 30px 0;
    }
   

    .img-fluid {
        width: 70%;
        height: 20%;
        padding: none;
    }




}